.logo{
    width="180";
    height="80"
}

h1 {
    color: red;
}

.header {
    width: 100px;
    color: white;
    background-color: blue;
    margin-bottom: 100px;
}

.frst{
    color: red;
}

h2 {
    background-color: rgb(0, 128, 0);
    color: white;
}

.rtfm {
    padding: 50px 50px;
}

.new{
    padding-left: 100px;
}

.form{
    margin-bottom: 15px;
}

li{
    border: 1px solid rgb(0, 0, 0);
}